{% extends "new_base.html" %}

{% block frame %}
  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card p-0">
      <h6 class="card-title card-padding pb-0">科室/部门</h6>
      <div class="table-responsive">
        <form action="{{ url_for('web.section') }}" method="post">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">科室/部门</th>
                <th class="text-center">所属片区</th>
                <th class="text-center">学部</th>
                <th class="text-center">机关标志</th>
                <th class="text-center">所属部门</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for section in sections %}

                  <tr>
                    <td class="text-center">{{ section.section }}</td>
                    <td class="text-center">{{ section.area }}</td>
                    <td class="text-center">{{ section.xuebu }}</td>
                    <td class="text-center">{{ section.is_office }}</td>
                    <td class="text-center">{{ section.parent_section }}</td>
                    <td class="text-center"><a href="{{ url_for('web.section_del', section_id=section.section_id) }}">删除</a></td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>

  <div class="mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
      <h6 class="card-title">新增科室/部门</h6>
      <div class="template-demo">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-card">
              <div class="template-demo">
                <form action="{{ url_for('web.section') }}" method="post">
                  <div class="mdc-text-field">
                  <input class="mdc-text-field__input" id="text-field-hero-input" name="name">
                  <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
                  </div>
                  <button class="mdc-button mdc-button--raised filled-button--success">
                        新增
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
