{% extends "base.html" %}

{% block content %}
    <div class="row">

        <div class="col-md-8 order-md-1">
          <div class="container">
          <h4 class="mb-3">用户管理</h4>
          <!-- TODO 搜索框 通过 姓名 部门 人员类别 审批级别 进行搜索-->
{#          <div class="card mb-3" style="max-width: 540px;">#}
{#              <div class="row no-gutters">#}
{#                <div class="col-md-4">#}
{#                    #}
{#                </div>#}
{#                <div class="col-md-8">#}
{#                  <div class="card-body">#}
{#                    <h5 class="card-title">Card title</h5>#}
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#          </div>#}

          <div class="card-columns">
              {%  for user in users %}
                  <div class="card" onclick="window.location.href='{{ url_for( 'web.user', user_id=user.user_id) }}'">
{#                    <img class="card-img-top" src="..." alt="Card image cap">#}
                    <div class="card-body">
                      <h4 class="card-title">{{ user.name }}</h4>
                      <p class="card-text">- -</p>
                      <p class="card-text"><small class="text-muted">Create by {{ user.create_time }}</small></p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span>部门:</span> {{ user.section | default('暂无', true) }}</li>
                      <li class="list-group-item"><span>人员类别:</span> {{ user.occupation | default('暂无', true) }}</li>
                      <li class="list-group-item"><span>审批级别:</span> {{ user.level | default('暂无', true) }}</li>
                    </ul>
                  </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}
