{% extends "new_base.html" %}

{% block frame %}
  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card p-0">
      <h6 class="card-title card-padding pb-0">交通工具列表</h6>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">交通工具</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for vehicle in vehicles %}
              <form action="{{ url_for('web.vehicle') }}" method="post">
                <tr>
                  <td class="text-center">{{ vehicle.vehicle }}</td>
                  <td class="text-center"><a href="{{ url_for('web.vehicle_del', vehicle_id=vehicle.vehicle_id) }}">删除</a></td>
                </tr>
              </form>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
      <h6 class="card-title">新增片区</h6>
      <div class="template-demo">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-card">
              <div class="template-demo">
                <form action="{{ url_for('web.vehicle') }}" method="post">
                  <div class="mdc-text-field">
                  <input class="mdc-text-field__input" id="text-field-hero-input" name="name">
                  <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
                  </div>
                  <button class="mdc-button mdc-button--raised filled-button--success">
                        新增
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{#                      <th  scope="row"><input type="text" class="form-control col-md-1" name="id" value="{{ id }}" hidden></th>#}

          <!-- 新增交通工具 -->
{#          <form class="card p-2" method="post">#}
{#              {{ add_form.csrf_token }}#}
{#            <div class="input-group">#}
{#              <input type="text" class="form-control"#}
{#                     name="name"#}
{#                     placeholder="请输入部门后, 点击新增">#}
{#              <div class="input-group-append">#}
{#                <button type="submit" class="btn btn-success">新增</button>#}
{#              </div>#}
{#            </div>#}
{#          </form>#}
{% endblock %}
